
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

.full-height {
  height: 100%;
}

.page-wrapper {
  background: #232323;
  height: 100%;
}

.vs-card {
  background: #ffffff;
}

.form-wrapper {
  width: 100%;
}